/*=============== START VARIABLES ===============*/
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --paragraph-color: #777;
    --section-background: #ececec;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --main-transition: 0.3s;
}

/*=============== START GLOBAL RULES ===============*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*========== SMALL ==========*/

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/*========== MEDIUM ==========*/
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/*========== LARGE ==========*/
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/*=============== START COMPONENTS ===============*/
.main-title {
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}

.main-title:hover {
    color: white;
    transition-delay: 0.5s;
}
.main-title::before,
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.main-title::before {
    left: -30px;
}

.main-title:hover::before {
    animation: left-to-right 0.5s linear forwards;
    z-index: -1;
}

.main-title::after {
    right: -30px;
}

.main-title:hover::after {
    animation: right-to-left 0.5s linear forwards;
    z-index: -1;
}

/* Animation */
@keyframes left-to-right {
    50% {
        width: 12px;
        height: 12px;
        left: 0;
    }
    100% {
        border-radius: 0;
        left: 0;
        width: 50%;
        height: 100%;
    }
}
@keyframes right-to-left {
    50% {
        width: 12px;
        height: 12px;
        right: 0;
    }
    100% {
        border-radius: 0;
        right: 0;
        width: 50%;
        height: 100%;
    }
}

/*=============== HEADER ===============*/
header {
    background-color: white;
    box-shadow: 0 0 10px #ddd;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

header .logo {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73px;
}

@media (max-width: 767px) {
    header .logo {
        width: 100%;
        height: 40px;
    }
}

header .main-nav {
    display: flex;
}

@media (max-width: 767px) {
    header .main-nav {
        margin: auto;
    }
}

header .main-nav > li > a {
    display: flex;
    height: 73px;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    font-size: 18px;
    text-decoration: none;
    color: black;
    position: relative;
    transition: var(--main-transition);
    overflow: hidden;
}

@media (max-width: 767px) {
    header .main-nav li a {
        font-size: 14px;
        padding: 10px;
        height: 40px;
    }
}

header .main-nav > li > a:hover {
    background-color: var(--section-background);
    color: var(--main-color);
}

header .main-nav > li > a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    top: 0;
    left: -100%;
    background-color: var(--main-color);
    transition: var(--main-transition);
}

header .main-nav > li > a:hover::before {
    width: 100%;
    left: 0;
}

/* Mega Menu */
header .main-nav > li:last-of-type:hover .mega-menu {
    opacity: 1;
    top: calc(100% + 1px);
    z-index: 100;
}

header .mega-menu {
    display: flex;
    padding: 30px;
    gap: 30px;
    position: absolute;
    top: calc(100% + 50px);
    left: 0;
    width: 100%;
    background-color: white;
    border-bottom: 3px solid var(--main-color-alt);
    opacity: 0;
    z-index: -1;
    transition: var(--main-transition);
}

@media (max-width: 991px) {
    header .mega-menu {
        padding: 10px;
    }
}

@media (max-width: 767px) {
    header .mega-menu {
        flex-direction: column;
        padding: 5px;
        gap: 0;
    }
}

header .mega-menu .image img {
    max-width: 100%;
}

@media (max-width: 991px) {
    header .mega-menu .image img {
        display: none;
    }
}

header .mega-menu .links {
    min-width: 250px;
    flex: 1;
}

header .mega-menu .links li {
    position: relative;
}

header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

@media (max-width: 767px) {
    header .mega-menu .links:first-of-type li:last-child {
        border-bottom: 1px solid #ddd;
    }
}

header .mega-menu .links li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #fafafafa;
    z-index: -1;
    transition: var(--main-transition);
}

header .mega-menu .links li:hover::before {
    width: 100%;
}

header .mega-menu .links li a {
    display: block;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: var(--main-color);
}

header .mega-menu .links li a i {
    margin-right: 10px;
}

/*=============== LANDING ===============*/
.landing {
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--section-background);
    z-index: -1;
    transform: skewY(-4deg);
    transform-origin: top left;
}

.landing .container {
    display: flex;
    align-items: center;
    padding-bottom: 120px;
    min-height: calc(100vh - 73px);
}

.landing .text {
    flex: 1;
}

@media (max-width: 991px) {
    .landing .text {
        text-align: center;
    }
}
.landing .text h1 {
    font-size: 38px;
    letter-spacing: -2px;
    margin: 0;
}

@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 28px;
    }
}

.landing .text p {
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;
}

@media (max-width: 767px) {
    .landing .text p {
        font-size: 18px;
    }
}

@media (max-width: 991px) {
    .landing .text p {
        margin: 10px auto;
    }
}

.landing .image img {
    width: 600px;
    position: relative;
    animation: up-and-down 2s linear infinite;
}

@media (max-width: 991px) {
    .landing .image img {
        display: none;
    }
}

/* Animation */
@keyframes up-and-down {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
}

.landing .scroll {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: var(--main-color);
    transition: var(--main-transition);
}

.landing .scroll i {
    animation: bouncing 1.5s infinite;

}

/* Animation */
@keyframes bouncing {
    0%, 10%, 20%, 50%, 80%, 100% {
        transform: translateY(0px);
    }
    40%,
    60% {
        transform: translateY(20px);
    }
}

/*=============== ARTICLES ===============*/
.articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.articles .container .box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
    overflow: hidden;
}

.articles .container .box:hover {
    box-shadow: 0 0 10px 10px #ddd;
    transform: translateY(-10px);
}

.articles .container .box img {
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.articles .container .box .text {
    padding: 20px;
}

.articles .container .box .text h4 {
    font-size: 17px;
    margin: 0;
}

.articles .container .box .text p {
    font-size: 15px;
    line-height: 1.6;
    color: var(--paragraph-color);
}

.articles .container .box a {
    position: relative;
    display: block;
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: var(--main-color);
    border-top: 1px solid #ddd;
}

.articles .container .box a::after {
    font-family: "Font Awesome 5 Free";
    content: "\f30b";
    position: absolute;
    font-weight: bold;
    top: 23px;
    right: 20px;
    font-size: 14px;
}

.articles .container .box:hover a::after {
    animation: to-right 1s infinite;
}

/* Animation */
@keyframes to-right {
    0% {
        right: 20px;
    }
    100% {
        right: 5px;
    }
}

/*=============== GALLERY ===============*/
.gallery {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.gallery .box {
    padding: 20px;
    background-color: white;
    box-shadow: 0 10px 10px #ddd;
}

.gallery .box .image {
    position: relative;
    overflow: hidden;
}

.gallery .box .image::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: hsl(0deg 0% 100% / 29%);
    transition: var(--main-transition);
    z-index: 2;
}

.gallery .box .image:hover::before {
    animation: flashing 0.6s;
}
/* Animation */
@keyframes flashing {
    0%,
    40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

.gallery .box .image img {
    max-width: 100%;
    transition: var(--main-transition);
}

.gallery .box .image:hover img {
    transform: rotate(2deg) scale(1.1);
}

/*=============== FEATURES ===============*/
.features {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .box {
    text-align: center;
    border: 1px solid #ccc;
}

.features .box .image-holder {
    position: relative;
    overflow: hidden;

}

.features .box .image-holder::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.features .quality .image-holder::before {
    background-color: rgb(244 64 54 / 60%);
}

.features .time .image-holder::before {
    background-color: rgba(54, 244, 149, 0.6);
}

.features .passion .image-holder::before {
    background-color: rgba(54, 130, 244, 0.6);
}

.features .box .image-holder::after {
    content: '';
    position: absolute;
    border-width: 0px 0 170px 500px;
    border-style: solid;
    border-color: transparent rgb(171, 183, 184) white transparent;
    right: 0;
    bottom: 0;
    transition: var(--main-transition);
}

.features .box:hover .image-holder::after {
    content: '';
    position: absolute;
    border-width: 0 352px 170px 0;
    border-style: solid;
    border-color: white transparent;
    z-index: 1;
    left: 0;
}

.features .box .image-holder img {
    max-width: 100%;
}

.features .box .text {
    padding: 20px;
}

.features .box .text h2 {
    position: relative;
    font-size: 40px;
    width: fit-content;
    margin: auto;
}

.features .box .text h2::after {
    content: '';
    position: absolute;
    height: 4px;
    width: calc(100% - 30px);
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
}

.features .quality .text h2::after {
    background-color: #f44036;
}

.features .time .text h2::after {
    background-color: #009688;
}

.features .passion .text h2::after {
    background-color: #03a9f4;
}

.features .box .text p {
    font-size: 20px;
    line-height: 2;
    color: var(--paragraph-color);
    margin: 50px 0;
}

.features .box a {
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    border: 3px solid transparent;
    border-radius: 6px;
    padding: 10px 30px;
    display: block;
    width: fit-content;
    margin: 0 auto 40px;
    transition: var(--main-transition);
}

.features .box:hover a {
    color: white;
}

.features .quality a {
    color: #f44036;
    border-color: #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-position: right bottom;
    background-size: 200% 100%;

}

.features .quality:hover a {
    background-position: left bottom;
}

.features .time a {
    color: #009688;
    border-color: #009688;
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-position: right bottom;
    background-size: 200% 100%;

}

.features .time:hover a {
    background-position: left bottom;
}

.features .passion a {
    color: #03a9f4;
    border-color: #03a9f4;
    background: linear-gradient(to right, #03a9f4 50%, white 50%);
    background-position: right bottom;
    background-size: 200% 100%;

}

.features .passion:hover a {
    background-position: left bottom;
}



/*=============== TESTIMONIALS ===============*/
.testimonials {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}

.testimonials .container {
    margin-top: 100px;
    gap: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.testimonials .box {
    padding: 20px;
    background-color: white;
    position: relative;
    border-radius: 7px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
}

.testimonials .box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid var(--section-background);
    position: absolute;
    top: -50%;
    transform: translateY(50%);
    right: -10px;
}

.testimonials .box .content h3 {
    margin: 0 0 10px;
}

.testimonials .box .content .title {
    color: var(--paragraph-color);
    margin-bottom: 10px;
    display: block;
}

.testimonials .box .content p {
    color: var(--paragraph-color);
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 0;
}

.testimonials .box .content .rate .filled {
    color: gold;
}    

/*=============== TEAM ===============*/
.team {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.team .box {
    position: relative;
}

.team .box::before,
.team .box::after {
    content: '';
    position: absolute;
    background-color: #f3f3f3;
    border-radius: 10px;
    top: 0;
    right: 0;
    height: 100%;
    transition: var(--main-transition);
    z-index: -2;
}

.team .box::before {
    width: calc(100% - 60px);
}

.team .box::after {
    width: 0;
}

.team .box:hover::after {
    width: calc(100% - 60px);
    background-color: var(--section-background);
}

.team .box .data {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.team .box .data img {
    width: calc(100% - 60px);
    border-radius: 10px;
    transition: var(--main-transition);
}

.team .box:hover .data img {
    filter: grayscale(200%);
} 

.team .box .data .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    gap: 30px;
}

.team .box .data .social i {
    color: var(--paragraph-color);
    transition: var(--main-transition);
}

.team .box .data .social i:hover {
    color: var(--main-color);
}

.team .box .info {
    padding-left: 80px;
}

.team .box .info h3 {
    font-size: 22px;
    margin: 20px 0 0;
    color: var(--main-color);
}

.team .box .info p {
    margin-top: 10px;
    margin-bottom: 20px;
}

/*=============== SERVICES ===============*/
.services {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.services .box {
    background-color: white;
    display: flex;
    flex-direction: column;
    counter-increment: services;
    box-shadow: 2px 2px 13px #777;
    transition: var(--main-transition);
    position: relative;
}

.services .box:hover {
    transform: translateY(-10px);
}

.services .box::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 0;
    background-color: var(--main-color);
    transition: var(--main-transition);
}

.services .box:hover::before {
    width: 100%;
}

.services .box .content {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.services .box .content i {
    width: 100%;
    display: block;
    margin: 20px 0;
    color: #ddd;
}

.services .box .content h3 {
    font-size: 25px;
    margin: 0 0 30px;
    color: var(--main-color);
}

.services .box .more {
    position: relative;
    margin-top: 20px;
    background-color: #f9f9f9;
    overflow: hidden;
}

.services .box .more::before {
    content: "0" counter(services);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    background-color: var(--main-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

.services .box .more::after {
    content: '';
    position: absolute;
    top: 0;
    left: 80px;
    background-color: #ddd;
    width: 40px;
    height: 100%;
    transform: scale(1.4) skewX(-18deg);

}

.services .box .more a {
    display: block;
    padding: 15px;
    text-align: right;
    text-decoration: none;
    color: var(--main-color);
}

/*=============== SKILLS ===============*/
.skills {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.skills .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.skills .image {
    flex-basis: 45%;
}

@media (max-width: 991px) {
    .skills .image {
        display: none;
    }
}
.skills .image img {
    max-width: 100%;
}

.skills .our-skills {
    flex: 1;
    flex-basis: 50%;
}

.skills .our-skills .progress {
    margin-bottom: 50px;
}

.skills .our-skills .progress h4 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills .our-skills .progress h4 span {
    font-size: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 3px 5px;
    text-align: center;
    color: var(--main-color);
}

.skills .our-skills .progress .prog-holder {
    height: 30px;
    background-color: #eeeeee;
}

.skills .our-skills .progress .prog-holder span {
    display: block;
    height: 100%;
    background-color: var(--main-color);
    position: relative;
}

/*=============== HOW IT WORKS ===============*/
.work {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}

.work .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 991px) {
    .work .container {
        flex-direction: column;
    }
}

.work .image {
    max-width: 100%;
    margin-right: 100px;
}

@media (max-width: 991px) {
    .work .image {
        margin: 0 auto 50px;
    }
}

.work .content {
    padding: 30px;
    background-color: #f6f5f5;
    border: 2px solid white;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

@media (max-width: 767px) {
    .work .content {
        flex-direction: column;
        text-align: center;
    }
}
 
.work .content::before {
    content: "";
    position: absolute;
    background-color: #ededed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    z-index: -1;
    transition: var(--main-transition);
}

.work .content:hover::before {
    width: 100%;
    height: 100%;
}

.work .info .content img {
    width: 64px;
    margin-right: 30px;
}

@media (max-width: 767px) {
    .work .info .content img{
        margin: 0 auto 30px;
    }
}

.work .content .text h3 {
    font-size: 21px;
    margin: 0;
}

.work .content .text p {
    font-size: 18px;
    line-height: 1.7;
    color: var(--paragraph-color);
}






























/*===============  ===============*/
/*===============  ===============*/
/*===============  ===============*/

/*===============  ===============*/
/*===============  ===============*/